@page
@model BPCalculator.Pages.BloodPressureModel

@{
    ViewData["Title"] = "Blood Pressure Category Calculator";
}


<h4 class="text-capitalize">Blood Pressure Category Calculator</h4>
<p>This application will calculate the Blood Pressure Category based on the values you provide below.</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" id="form1">
            <div asp-validation-summary="ModelOnly" class="text-warning"></div>
            <div class="form-group">
                <label asp-for="BP.Systolic" class="control-label"></label>
                <input asp-for="BP.Systolic" class="form-control" onchange="this.form.submit()" />
                <span asp-validation-for="BP.Systolic" class="text-danger" name="errormessage-systolic"></span>
            </div>
            <div class="form-group">
                <label asp-for="BP.Diastolic" class="control-label"></label>
                <input asp-for="BP.Diastolic" class="form-control" onchange="this.form.submit()" />
                <span asp-validation-for="BP.Diastolic" class="text-danger" name="errormessage-diastolic"></span>
            </div>

            @if (ViewData.ModelState.IsValid)
            {

                @if (Model.BP.Category == BPCategory.Crisis)
                {
                    <div class="text-capitalize badge alert-danger" name="result">
                        <h4>
                        @Html.DisplayFor(model => model.BP.Category,
                          new
                          {
                              htmlAttributes = new { @class = "bg-danger" }
                          })
                         </h4>
                    </div>
                }

                else if (Model.BP.Category == BPCategory.High1 || Model.BP.Category == BPCategory.High2)
                {
                    
                    <div class="badge bg-warning" name="result">
                        <h5>
                            @Html.DisplayFor(model => model.BP.Category,
                                new
                                {
                                    htmlAttributes = new { @class = "alert-info" }
                                })
                         </h5>
                    </div>
                   
                }

                else if (Model.BP.Category == BPCategory.Normal)
                {
                    
                    <div class="badge alert-info" name="result">
                        <h5>
                            @Html.DisplayFor(model => model.BP.Category,
                                new
                                {
                                    htmlAttributes = new { @class = "alert-info" }
                                })
                        </h5>
                    </div>
                    
                }

                else
                {
                    
                    <div class="alert-success badge" name="result">
                        <h5>
                            @Html.DisplayFor(model => model.BP.Category)
                        </h5>
                    </div>
                 }

            }
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
