@page
@model BPCalculator.Pages.BloodPressureModel

@{
    ViewData["Title"] = "Blood Pressure Category Calculator";
}

<style>
.logo {
    font-size: 12px;
}
</style>

<h4 class="text-capitalize">Blood Pressure Category Calculator</h4>
<p>This application will calculate the Blood Pressure Category based on the values you provide below.</p>
<hr />
<div class="row">
    <form method="post" id="form1">
        <div class="col-md-4">

            <div class="form-group">
                <label asp-for="BP.Systolic" class="control-label"></label>
                <input asp-for="BP.Systolic" class="form-control" onchange="this.form.submit()" />
                <span asp-validation-for="BP.Systolic" class="text-danger" name="errormessage-systolic"></span>
            </div>
            <div class="form-group">
                <label asp-for="BP.Diastolic" class="control-label"></label>
                <input asp-for="BP.Diastolic" class="form-control" onchange="this.form.submit()" />
                <span asp-validation-for="BP.Diastolic" class="text-danger" name="errormessage-diastolic"></span>
            </div>

            <div asp-validation-summary="ModelOnly" class="panel panel-warning page-header" id="validation-summary-errors"></div>
        </div>
        @if (ViewData.ModelState.IsValid)
        {
            <div class="form-group col-md-5">

                <div class="panel panel-primary" name="results" id="results">
                    <div class="panel-heading text-uppercase"><strong>Your results</strong></div>
                    <div class="panel-body">
                        Based on the information you have provided we have calculated your blood pressure category as:<br />
                        <span class="text-uppercase"><strong>@Html.DisplayFor(model => model.BP.Category)</strong> </span>
                    </div>
                </div>
            </div>
        }
    </form>
</div>

<div class="row">
    @if (ViewData.ModelState.IsValid)
     {
      <div class="col-md-push-4">
            @if (Model.BP.Category == BPCategory.Crisis || Model.BP.Category == BPCategory.Low)
            {

                <div class="alert alert-danger alert-dismissible fade in" name="alertmessage" id="alertmessage">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <span class="glyphicon glyphicon-alert logo"></span>
                    <strong> Danger!</strong> Your results indicate you <strong>must</strong> seek medical attendion immediately
                </div>
            }

            @if (Model.BP.Category == BPCategory.High1 || Model.BP.Category == BPCategory.High2)
            {

                <div class="alert alert-warning alert-dismissible fade in" name="alertMessage" id="alertmessage">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <span class="glyphicon glyphicon-exclamation-sign logo"></span>
                    <strong> Warning!</strong> Your results indicate you need to adjust your health profile.
                </div>

            }
      </div>
     }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
