@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    <strong>Support:</strong> <a href="mailto:declan.smyth@outlook.com">declan.smyth@gmail.com</a><br />
</address>
