@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="row">
    <div class="col-md-3">
        <h2>Build Status</h2>
        <p>https://declansmyth.visualstudio.com/msc-csdca1/_apis/build/status/BPCalculator-dev-as%20-%20CI</p>
    </div>
    <div class="col-md-3">
        <h2>Quality Status</h2>
        <ul>
            <li>https://sonarcloud.io/api/project_badges/measure?project=declan-smyth_msc-csdca1&metric=alert_status</li>
            <li>https://sonarcloud.io/api/project_badges/measure?project=declan-smyth_msc-csdca1&metric=sqale_rating</li>
            <li>https://sonarcloud.io/api/project_badges/measure?project=declan-smyth_msc-csdca1&metric=reliability_rating</li>
        </ul>
        <p> https://sonarcloud.io/images/project_badges/sonarcloud-orange.svg </p>
    </div>
</div>
