@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="row">
    <div class="col-md-3">
        <h2>Build Status</h2>
        <p><img scr="https://declansmyth.visualstudio.com/msc-csdca1/_apis/build/status/BPCalculator-dev-as%20-%20CI" alt="Pipeline Status"/></p>
    </div>
    <div class="col-md-3">
        <h2>Quality Status</h2>
        <ul>
            <li><img src="https://sonarcloud.io/api/project_badges/measure?project=declan-smyth_msc-csdca1&metric=alert_status" alt=""/></li>
            <li><img src="https://sonarcloud.io/api/project_badges/measure?project=declan-smyth_msc-csdca1&metric=sqale_rating" alt=""/></li>
            <li><img scr="https://sonarcloud.io/api/project_badges/measure?project=declan-smyth_msc-csdca1&metric=reliability_rating" alt=""/></li>
        </ul>
        <p> <img scr="https://sonarcloud.io/images/project_badges/sonarcloud-orange.svg" alt="Quality Metrics by SonarCloud"/> </p>
    </div>
</div>
